{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}书云{% endblock %}</title>

    {# 设置图标 #}
    <link href="{% static 'img/favicon.ico' %}" rel="bookmark" type="image/x-icon" />
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    {# 引入公用静态css文件 #}
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap-4.0.0-alpha.6.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lib/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'book/css/common.css' %}">

    {# 设置页面自定义css #}
    {% block css %}{% endblock %}
</head>
<body style="background-color: #f5f8fa; padding-top: 54px;">
    {# 导航栏 #}
    {% block navigation %}
        {% include "module/_navigation.html" %}
    {% endblock %}

    {# body #}
    {% block body %}{% endblock %}
    {#    <script data-main="{% static 'js/app.js' %}" src="{% static 'js/require.js' %}"></script>#}

    {# 加载右下角返回顶部等按钮 #}
    {% include 'module/_right_bottom_btn_group.html' %}

    {# 加载确定/取消按钮 #}
    {% include "module/dialog/_confirm_cancel_modal.html" %}

    {# 自定义js #}
    {% block js %}
    {# 加载requirejs #}
        <script src="{% static 'js/lib/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/lib/tether.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-4.0.0-alpha.6.js' %}"></script>
        <script src="{% static 'book/js/lib/jquery.cookie.js' %}"></script>
        <script src="{% static 'book/js/common.js' %}"></script>
    {% endblock %}
</body>
</html>