{% extends "module/base.html" %}
{% load templatetags %}
{% load static %}

{# 设置标题 #}
{% block title %}{{ title }}{% endblock %}

{# 自定义css #}
{% block css %}
    <link rel="stylesheet" href="{% static 'book/css/booklist-list.css' %}">
{% endblock %}

{# 设置body #}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div style="display: flex; margin: auto;">
                <div style="border: solid 1px rgba(232, 237, 241, 1);
                    border-radius: 3px 3px 0 0;
                    background-color: white;
                    max-width: 35rem;
                    min-width: 30rem;
                    margin: 1rem auto 3rem;
                    padding: 0;">
                    {# 列表说明 #}
                    <p style="font-size: 1.125rem; font-weight: 700; padding: 1rem 1.75rem 0 1.75rem">最新书单推荐</p>
                    <hr>

                    {# 书单列表 #}
                    {# module/_booklist_list.html #}
                    {% include page_template %}
{#                    <p style="width: 100%; text-align: center; color: #aaaaaa; font-size: 0.8rem;">没有更多记录</p>#}
                </div>
                <div class="hidden-md-down"
                     style="margin: 1rem 0 auto 1rem;
                            border: solid 1px rgba(232, 237, 241, 1);
                            border-radius: 3px 3px 0 0;
                            min-width: 15rem;
                            max-width: 18rem;
                            background-color: white;
                            height: inherit;
                            padding: 0;">
                    <div style="padding: 1rem 1.75rem 0 1.75rem;">
                        <p style="font-size: 1.125rem; font-weight: 700; margin: 0 1rem 0 0; display: inline-block;">热门标签</p>
                        <a class="link-a" href="{% url 'tag-hot-collection' %}">所有热门标签</a>
                    </div>
                    <hr style="margin-bottom: .5rem;">

                    {# 热门标签列表 #}
                    <div style="padding-bottom: 1rem;">
                        {% show_hot_tag_collections 12 %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    {{ block.super }}   {# 加载父block内容 #}
    <script src="{% static 'js/lib/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({paginateOnScroll: true,
{#                onCompleted: function(data) {#}
{#                    console.log(data);#}
{#                    $('#no-more-items').css('display', 'block');#}
{#                },#}
{#                onClick: function(data) {#}
{#                    $('#no-more-items').css('display', 'none');#}
{#                }#}
        });
    </script>
{% endblock %}
